body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  font-family: 'Atari Classic', monospace;
  font-size: 40px
  font-weight: bold
}

h1 {
  background-color: black;
  color: white;
  font-family: 'Atari Classic', monospace;
  font-size: 40px
  font-weight: bold
}

p {
  background-color: black;
  color: white;
  font-family: 'Atari Classic', monospace;
  font-size: 40px
  font-weight: bold
}
blockquote {
  background-color: black;
  color: white;
  font-family: 'Atari Classic', monospace;
  font-size: 40px
  font-weight: bold
}
